{% extends "::layout.html.twig" %}
{% block containt %}

    <div class="content">
    <div class="container-fluid">
    <div class="row">
    <div class="col-md-12">
        <div class="card">
            <div class="header">
                <h4 class="title">Liste Des FeedBack</h4>
            </div>
            <div class="content table-responsive table-full-width">
                <table class="table table-striped">
                    <thead>
                    <th>Sujet</th>
                    <th>Detail</th>
                    </thead>
                    {% for Feedback in Feedbacks %}
                        <tbody>
                        <tr>
                            <td>{{ Feedback.sujet }}</td>
                            <td><a href="{{ path('DetailFeedback',{'id':Feedback.id}) }}">Detail</a></td>
                        </tr>
                        </tbody>
                    {% endfor %}
                </table>

            </div>
        </div>
    </div>

{% endblock %}